*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clearfix::after{
    clear: both;
    content: ' ';
    display: table;
}
div.auto{
    width: 1000px;
    margin: 0 auto;
}
.vip::before{
    content: 'vip';
    display: inline-block;
    width: 24px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    background: red;
    margin-right: 6px;
    text-align: center;
}
.vip:hover::before{
    color: #fff;
}
.pub-pic::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: top;
}
.txwb::before{
    background-image: url('../img/is.png');
    background-position: 0 -236px;
}
.xlwb::before{
    background-image: url('../img/is.png');
    background-position: 0 -116px;
}
.wywb::before{
    background-image: url('../img/is.png');
    background-position: 0 -716px;
}
.lnwb::before{
    background-image: url('../img/is.png');
    background-position: 0 -1355px;
}
.english::before{
    content: '';
    width: 20px;
    height: 11px;
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
    background-image: url('../img/us.gif');
    background-repeat: no-repeat;
}
body{
    font-size: 14px;
    line-height: 1.8;
    font-family: '微软雅黑','宋体',sans-serif;
    background: #fbfaf8;
}
#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #018FB5;
    font-size: 12px;
    padding: 4px 0;
    z-index: 99;
}
ul.wrap{
    width: auto;
    float: right;
}
#header ul.wrap>li,.lf{
    float: left;
    margin-right: 8px;
}
#header ul.wrap>li:not(:last-of-type)::after{
    content: '|';
    color: #fff;
    cursor: default;
    margin-left: 5px;
}
#header div.auto a{
    color: #fff;
}
#header div.auto ul.wrap li>a:hover{
    color: #CA6E0C;
}
.download{
    position: relative;
    width: 112px;
    height: 29px;
    z-index: 99;
}
.download>a.dd-box{
    display: inline-block;
    width: 98px;
    height: 33px;
    text-align: center;
}
.download a.dd-box i.cir{
    display: inline-block;
    border: 5px solid #fff;
    vertical-align: middle;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.download div.app-download{
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    width: 180px;
    padding: 20px;
    background: #fff;
}
.app-store{
    float: right;
}
.app-store>a,a.pc{
    display: block;
    width: 90px;
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
a.app-pic{
    width: 80px;
}
a.apple{
    background: #000;
}
a.xiazai{
    background: #CA6E0C;
}
a.anzhuo{
    background: #04CA39;
}
.mn{
    margin: 0 auto;
}
#header div.auto ul.wrap li.download:hover>a{
    color: #000;
    background: #fff;
}
li.download:hover>a i.cir{
    border-top-color: #000;
    transform: rotate(180deg);
    transform-origin: 50% 30%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
li.download:hover div.app-download{
    display: block;
    z-index: 99;
}
/*------------------- end of header--------------------------------------------*/
nav#navbar{
    position: relative;
    width: 100%;
    margin-top: 37px;
    background: #00A2CA;
    height: 60px;
    line-height: 60px;
}
#navbar div.easy-logo{
    float: left;
    width: 400px;

}
#navbar ul.nav-box{
    float: left;
    margin-left: 200px;
}
#navbar ul.nav-box li{
    float: left;
    width: 60px;
    height: 60px;
    text-align: center;
}
#navbar ul.nav-box li.nav-active{
    background: #0195BB;
}
#navbar ul.nav-box>li>a{
    color: #fff;
}
div.nav-list{
    position: relative;
    width: 100%;
    line-height: 60px;
}
div.nav-list div.nl-box{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #333;
    text-align: right;
}
div.nav-list div.nl-txt>a:last-of-type{
margin-right: 203px;
}
div.nav-list div.nl-box>a{
    color: #fff;
    margin-left: 50px;
}
div.nav-list div.nl-box>a:hover{
    color: #00A2CA;
}
/*----------end of navbar------------------------------*/
#container{
    margin-top: -60px;
}
/*--------------------------end of #container----------------------------------------*/
#wrapper{
    background: #fff;
    clear: both;
}
li.wr-li{
    float:left;
    margin-right: 50px;
    margin-top: 10px;
}
ul.wr-ul li.wr-li h3{
    font-weight: normal;
}
ul.wr-ul li.wr-li>a,ul.wr-ul li.wr-li>span{
    display: block;
    color: #39B6DC;
    margin-top: 5px;
}
ul.wr-ul li.wr-li>a:hover{
    text-decoration: underline;
}
div.wr-bq{
    width: 100%;
    border-top: 1px solid #EEE;
    margin-top: 20px;
    padding: 20px 0;
    background: #fff;
    text-align: center;
    font-size: 12px;
}
div.app-box{
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 15px;
    width: 100%;
    height: 90px;
    color: #fff;
    background: rgba(51,51,51,0.8);
}
ul.app-ul li.wr-li span{
    display: block;
}
a.app-btn{
    display: block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
a.app-a{
    background: #37B5F9;
}
a.app-b{
    background: #F26D7E;
}
i.close{
    display: block;
    float: right;
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
}
/*---------------------end of public------------------------------------------*/
#lunbo{
    clear: both;
    position: relative;
    width: 100%;
    height: 600px;
    color: #fff;
    text-align: center;
    overflow: hidden;

}
#lunbo ul.lunbo-box{
    position: relative;
    width: 4000px;
    height: 600px;
}
#lunbo ul.lunbo-box li.lbox{
    float: left;
    width: 1000px;
    height: 600px;
}
#lunbo div.btn-box{
    position: absolute;
    left: 0;
    top: 300px;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    z-index: 99;
}
#lunbo div.btn-box i.cm-btn{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: rgba(51,51,51,0.9);
    text-align: center;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
#lunbo div.btn-box i.lf-btn{
    left: 10px;
}
#lunbo div.btn-box i.rt-btn{
    right: 10px;
}
#lunbo div.cir-box{
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 0;
    margin: auto;
    width: 200px;
    height: 30px;
}
div.cir-box i.cir-btn{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}
div.cir-box i.cir-color{
    background: #fff;
}
.lb-one{
    background: #0A85C0;
}
.lb-two{
    background: #34B792;
}
.lb-three{
    background: #446077;
}
.lb-four{
    background: #3E8873;
}
/*---------end of lunbo--------------*/
#content{
    margin-top: 50px;
}

ul.banner li.br-data{
    width: 331px;
    height: 220px;
    float: left;
    text-align: center;
    border: 1px solid #eee;
    background: #fff;
    padding: 20px 0;
}
ul.banner .br-data:not(:last-of-type){
    border-right-color: transparent;
}
ul.banner .br-data:not(:first-of-type){
    border-left-style: dashed;
}
ul.banner li.br-data>h3{
    font-weight: normal;
}
ul.banner li.br-data:hover{
    border: 1px solid #0195BB;
}
li.br-data>img{
    width: 70px;
    height: 70px;
    display: block;
}
li.br-data p.br-sum{
    font-size: 12px;
}
li.br-data p.br-sum span{
    color: red;
}
li.br-data p.br-sum a.br-enter{
    margin: 15px auto;
    border-radius: 5px;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: #6FB0D1;
}
li.br-data p.br-sum a.br-enter:hover{
    background: #0A85C0;
}
/*---------------end of banner-----------------------*/
#content{
    position: relative;
    overflow: hidden;
}
ul.wrap-box{
    margin-top: 50px;
    width: 1000px;
}
div#news-box{
    margin-top: 50px;
    width: 1020px;
}
li.details{
    height: 160px;
    background: #fff;
    padding: 10px;
    border: 1px solid #EEE;
    padding-right: 20px;
    float: left;
    margin-right: 17px;
}
li.details-rt{
    float: right !important;
    margin-right: 0 !important;
}
li.details-big{
    width: 350px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
li.details-sm{
    width: 260px;
}
 h3.h-title{
    font-weight: normal;
    display: inline-block;
}
a.more{
    float: right;
    font-size: 12px;
    color: #666;
}
a.more:hover,a.newsa:hover{
    text-decoration: underline;
    color: #C2B6C9;
}
p.de-txt{
    font-size: 12px;
}
li.details-big p.de-txt{
    width: 79%;
}
li.details-big p.de-txt span.de-show{
    display: none;
}
li.details-sm p.de-txt span.de-hide{
    display: none;
}
img.de-pic{
    float: right;
    width: 50px;
    height: 50px;
}
li.details-big img.de-pic{
    margin-top: -50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


div.news{
    width: 452px;
    height: 200px;
    padding: 12px 20px;
    background: #fff;
    border: 1px solid #eee;
}
div.news ul.news-now{
    clear: both;
    margin-top: 30px;
}
div.news ul.news-now li{
    margin-top: 10px;
}
div.news ul.news-now li::before{
    content: '【新闻】';
    color: #C2B6C9;
}
.rt{
    float: right;
}
a.newsa,ul.news-now li time{
    color: #666;
}
ul.hezuo{
    margin-top: 10px;
}
li.hz-li{
    float: left;
    width: 146px;
    font-size: 12px;
}
li.hz-li figure{
    text-align: center;
}
li.hz-li figure img.hz-pic,
figure.zz-dx .zz-pic,
.easy-pic{
    width: 50px;
    height: 50px;
}
div.zizhi{
    width: 998px;
    margin-top: 50px;
    border: 1px solid #eee;
    background: #fff;
}
div.zizhi>h3{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    text-indent: 50px;
    border-bottom: 1px solid #eee;
}
div.zz-box{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
figure.zz-dx{
    float: left;
    margin-left: 30px;
}
figure.zz-dx .zz-pic{
    vertical-align: middle;
    padding: 3px;
    margin-right: 5px;
    border: 1px solid #eee;
}

div.easy{
    width: 100%;
    height: 150px;
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid #EEE;
    border-bottom: 1px solid #EEE;
    background: #fff;
    text-align: center;
}
/*   -------        end of content-------------*/
#container div.des-box{
    width: 100%;
    height: 76px;
    overflow: hidden;
}
#container div.des-box div.des-box1{
    width: 100%;
    background: #8F5A84;
    color: #fff;
}
div.vsb{
    visibility: hidden;
}
#des>h1{
float: left;
line-height: 69px;
}
#des ul.des-t{
    float: left;
    margin-left: 350px;
}
ul.des-t li.d-one{
    margin-left: 50px;
}
ul.des-t li.d-two{
    margin-left: 100px;
}
#des i.down-pic{
    width: auto;
    height: auto;
    float: left;
    display: inline-block;
    margin-left: 48px;
    margin-top: 10px;
    cursor: pointer;
}
div.des-box2{
    width: 100%;
    height: 600px;
    position: relative;
}
div.des-a{
    width: 100%;
    height: 600px;
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.bg-blue{
    background: #0A85C0;
}
.bg-green{
    background: #34B792;
}
div.des-a .auto h1.d-h1{
    font-weight: 500;
    font-size: 32px;
    margin-top: 50px;
}
h1.d-h1>span.d-sp::after{
    content: ' ';
}
div.des-a .auto p.d-ptxt{
    letter-spacing: 16px;
}
div#d-po,div#d-po1{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    z-index: 9;
    height: 0;
}
div#d-po1{
    height: 50px;
    top: 550px;
}
div#d-po>i.close{
    font-size: 36px;
    font-weight: normal;
}
#d-po1 div.po-btn{
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 10px;
    text-align: center;
}
#d-po1 div.po-btn>a.start{
     background: green none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 5px 4px #3C9452;
    color: #fff;
    display: block;
    font-size: 26px;
    height: 36px;
    line-height: 36px;
    padding: 3px 10px;
    text-align: center;
    width: 180px;
    margin-bottom: 20px;
}
#d-po1 div.po-btn>i.po-cir{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
    cursor: pointer;
}
div#d-po1 div.po-btn>i.pr-bgcolor{
    background: #fff;
}
/*    end of des-box-------------------------*/
div#desMenu{
    margin-top: 30px;
}
div.dm-lf{
    width: 265px;
    overflow: hidden;
    float: left;
}
div.dm-bt{
    margin-top: 20px;
}
.block{
    display: block;
}
a.dm-ws{
    background: #00a2c9 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 120px;
}
a.dm-more{
    color: #d2d7da;
    float: right;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 10px;
}
a.dm-more:hover{
    color: #00a2c9;
}
a.dm-more::after{
    content: '→';
    color: #fff;
    font-size: 8px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #d2d7da;
    line-height: 10px;
    text-align: center;
    margin-left: 7px;
}
div.dm-pn{
    width: 260px;
    border: 1px solid #EEE;
    margin-top: 10px;
    margin-bottom: 20px;
}
div.dm-pn:hover{
    box-shadow: 0 0 5px #8F5A84;
}
ul.dn-ul li.txt-li{
    width: 245px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    background: #fff;
    border-bottom: 1px solid rgba(210,215,218,0.2);
}
ul.dn-ul li.txt-li a.user img{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: top;
}
a.und{
    color: #39ADE1;
}
a.und:hover{
    text-decoration: underline;
}
div.shuc{
    display: inline-block;
    margin-left: 20px;
}
span.qg{
    display: block;
    color: #d2d7da;
}
ul.dn-ul li.sl{
    float: left;
    background: #FBFAF8;
    padding:0 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
}
ul.dn-ul li.bw{
    border-left: 1px solid #d2d7da;
    border-right: 1px solid #d2d7da;
}
ul.dn-ul li.sl>a.block{
    font-weight: bold;
    color: #000;
    font-size: 12px;
}
ul.dn-ul li.gz{
    float: left;
}
ul.dn-ul li.gz>a.block{
    display: block;
    width: 62px;
    height: 22px;
    padding: 3px 0 3px 20px;
    margin-top: 15px;
    margin-left: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    background: #37B5F9;
    color: #fff;
}
ul.dn-ul li.gz>a.block::before{
    content: '+';
}
/*-----------------------end of left---------------*/
div.dm-rt{
    display: inline-block;
    margin-left: 10px;
    width: 725px;
}
div.rt-sp{
float: left;
margin-left: 40px;
}
div.rt-sp figure.sp-pic{
    position: relative;
    width: 315px;
    height: 220px;
    text-align: center;

}
div.rt-sp figure.sp-pic>img{
    width: 315px;
    height: 200px;
    border-radius: 10px;
}
figure.sp-pic>a.sp-a{
    position: absolute;
    width: 100px;
    height:100px;
    border-radius: 5px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin:auto;
    background: rgba(51,51,51,0.4);
}
figure.sp-pic>a.sp-a:hover{
    background: rgba(51,51,51,1);
}
figure.sp-pic>a.sp-a>i.sp-cir{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(51,51,51,0.4);
    border: 5px solid #E4E4E4;
    margin-top: 20px;
    margin-left: 20px;
}
figure.sp-pic>a.sp-a>i.sp-cir::before{
    content: '';
    display: block;
    border: 15px solid #E4E4E4;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
   margin-left: 20px;
   margin-top: 11px;
}
p.fg-p{
    color: #39ADE1;
}
div.rt-ku{
    width: 683px;
    border: 1px solid #EEE;
    background: #fff;
    margin-top: 30px;
    padding: 10px 20px;
    margin-bottom: 30px;
    height: 396px;
}
ul.ku-ul{
    border-bottom: 1px solid #EEE;
}
.ku-ul li.ku-li{
    float: left;
    width: 100px;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    color: #94667D;
    cursor: pointer;
}
.ku-ul li.cl-co{
    background: #00A2C9;
}
.ku-ul li.ku-li:hover{
    background: #EEE;
}
div.ku-sum{
    position: relative;
}
div.ku-sum ul.ku-all{
    position: absolute;
    left: 0;
    top: 0;
}
ul.ku-all li.hua-pic{
    position: relative;
    width: 200px;
    height: 150px;
    float: left;
    margin: 10px 30px 20px 3px;
}
ul.ku-all li.hua-rt{
    margin-right: 0;
}
ul.ku-all li.hua-pic img{
    width:200px;
    height: 150px;
}
div.hua-ch{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #eee;
    background-color: rgba(51,51,51,0.5);
}
ul.ku-all li.hua-pic:hover div.hua-ch{
    background: rgba(51,51,51,1);
    color: #C99533;
}
div#xxk2{
    height: 205px;
}
.none{
    display: none;
}


