#container .des-box{
    width: 100%;
    height: 76px;
    overflow: hidden;
}
#container .des-box .des-box1{
    width: 100%;
    background: #8F5A84;
    color: #fff;
}
.vsb{
    visibility: hidden;
}
#des>h1{
float: left;
line-height: 69px;
}
#des ul.des-t{
    float: left;
    margin-left: 350px;
}
ul.des-t li.d-one{
    margin-left: 50px;
}
ul.des-t li.d-two{
    margin-left: 100px;
}
#des i.down-pic{
    width: auto;
    height: auto;
    float: left;
    display: inline-block;
    margin-left: 48px;
    margin-top: 10px;
    cursor: pointer;
}
.des-box2{
    width: 100%;
    height: 600px;
    position: relative;
}
.des-a{
    width: 100%;
    height: 600px;
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.bg-blue{
    background: #38566E;
}
.bg-green{
    background: #683E90;
}
.des-a .auto h1.d-h1{
    font-weight: 500;
    font-size: 32px;
    margin-top: 50px;
}
h1.d-h1>span.d-sp::after{
    content: ' ';
}
.des-a .auto p.d-ptxt{
    letter-spacing: 10px;
}
#d-po,#d-po1,#d-pobtn{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    z-index: 9;
    height: 0;
}
#d-pobtn{
    top: 300px;
    height: 50px;
}
#d-pobtn>i{
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(51,51,51,0.5);
    font-weight:bold;
    font-style: normal;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
}
#d-pobtn>i.btn-lf{
    left: 10px;
}
#d-pobtn>i.btn-rt{
    right: 10px;
}
#d-po1{
    height: 50px;
    top: 550px;
}
#d-po>i.close{
    font-size: 36px;
    font-weight: normal;
}
#d-po1 .po-btn{
    position: absolute;
    width: 200px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 10px;
    text-align: center;
}
#d-po1 .po-btn>a.start{
     background: green none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 5px 4px #3C9452;
    color: #fff;
    display: block;
    font-size: 26px;
    height: 36px;
    line-height: 36px;
    padding: 3px 10px;
    text-align: center;
    width: 180px;
    margin-bottom: 20px;
}
#d-po1 .po-btn>i.po-cir{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: transparent;
    cursor: pointer;
}
#d-po1 .po-btn>i.pr-bgcolor{
    background: #fff;
}
/*    end of des-box-------------------------*/
#sp{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.rt-sp{
float: left;
margin-left: 100px;
}
.rt-sp figure.sp-pic{
    position: relative;
    width: 315px;
    height: 220px;
    text-align: center;
}
.rt-sp figure.sp-pic>img{
    width: 315px;
    height: 200px;
    border-radius: 10px;
}
figure.sp-pic>a.sp-a{
    position: absolute;
    width: 100px;
    height:100px;
    border-radius: 5px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin:auto;
    background: rgba(51,51,51,0.4);
}
figure.sp-pic>a.sp-a:hover{
    background: rgba(51,51,51,1);
}
figure.sp-pic>a.sp-a>i.sp-cir{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(51,51,51,0.4);
    border: 5px solid #E4E4E4;
    margin-top: 20px;
    margin-left: 20px;
}
figure.sp-pic>a.sp-a>i.sp-cir::before{
    content: '';
    display: block;
    border: 15px solid #E4E4E4;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
   margin-left: 20px;
   margin-top: 11px;
}
/*  ------------------sp------------------------------*/
#hj{
    margin-bottom: 30px;
}
#hj .hj-list{
    padding: 20px 14px;
    width: 220px;
    height: 300px;
    float: left;
    border: 1px solid #eee;
    background: #fff;
    color: #666;
    font-size: 12px;
}
#hj .hj-list:not(:last-of-type){
    border-right-color: transparent;
}
#hj .hj-list:hover{
    border-color: red;
}
#hj .hj-list>h3{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
#hj .hj-list>img{
    display: block;
    width: 60px;
    height: 60px;
    margin: 15px auto;
}
#hj .hj-list>a{
    display: block;
    width: 100px;
    height: 36px;
    border-radius: 5px;
    margin: 20px auto 0 auto;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    background: #00A2C9;
}
