body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,input,textarea,
select,p,blockquote,th,td,hr,button,article,aside,details,
figcaption,figure,footer,header,hgroup,menu,nav,section {
        margin: 0;
        padding: 0;
}
a{text-decoration: none;color: #666;}
a:hover { color: #f60; text-decoration:none; }
input, button, select, textarea { outline:none; }
li{list-style: none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;font-size: 100%;}
em { font-style:normal;}
textarea{resize: none;}
caption,th{text-align:left;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
input[type="submit"],button{cursor: pointer;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
input,button,textarea,select,optgroup,option {
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}
.clearfix::after,.clearfix::before{
    display: table;
    content: ' ';
}
.clearfix::after{
        clear: both;
}
div.auto{
    width: 1000px;
    margin: 0 auto;
}
.vip::before{
    content: 'vip';
    display: inline-block;
    width: 24px;
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    background: red;
    margin-right: 6px;
    text-align: center;
}
.vip:hover::before{
    color: #fff;
}
.pub-pic::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: top;
}
.txwb::before{
    background-image: url('../img/is.png');
    background-position: 0 -236px;
}
.xlwb::before{
    background-image: url('../img/is.png');
    background-position: 0 -116px;
}
.wywb::before{
    background-image: url('../img/is.png');
    background-position: 0 -716px;
}
.lnwb::before{
    background-image: url('../img/is.png');
    background-position: 0 -1355px;
}
.english::before{
    content: '';
    width: 20px;
    height: 11px;
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
    background-image: url('../img/us.gif');
    background-repeat: no-repeat;
}
body{
    font-size: 14px;
    line-height: 1.8;
    font-family: '微软雅黑','宋体',sans-serif;
    background: #fbfaf8;
}
#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #018FB5;
    font-size: 12px;
    padding: 4px 0;
    z-index: 99;
}
ul.wrap{
    width: auto;
    float: right;
}
#header ul.wrap>li,.lf{
    float: left;
    margin-right: 8px;
}
#header ul.wrap>li:not(:last-of-type)::after{
    content: '|';
    color: #fff;
    cursor: default;
    margin-left: 5px;
}
#header .auto a{
    color: #fff;
}
#header .auto ul.wrap li>a:hover{
    color: #CA6E0C;
}
.download{
    position: relative;
    width: 112px;
    height: 29px;
    z-index: 99;
}
.download>a.dd-box{
    display: inline-block;
    width: 98px;
    height: 33px;
    text-align: center;
}
.download a.dd-box i.cir{
    display: inline-block;
    border: 5px solid #fff;
    vertical-align: middle;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.download div.app-download{
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    width: 180px;
    padding: 20px;
    background: #fff;
}
.app-store{
    float: right;
}
.app-store>a,a.pc{
    display: block;
    width: 90px;
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
a.app-pic{
    width: 80px;
}
a.apple{
    background: #000;
}
a.xiazai{
    background: #CA6E0C;
}
a.anzhuo{
    background: #04CA39;
}
.mn{
    margin: 0 auto;
}
#header .auto ul.wrap li.download:hover>a{
    color: #000;
    background: #fff;
}
li.download:hover>a i.cir{
    border-top-color: #000;
    transform: rotate(180deg);
    transform-origin: 50% 30%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
li.download:hover div.app-download{
    display: block;
    z-index: 99;
}
/*------------------- end of header--------------------------------------------*/
#navbar{
    position: relative;
    width: 100%;
    margin-top: 37px;
    background: #00A2CA;
    height: 60px;
    line-height: 60px;
}
#navbar .easy-logo{
    float: left;
    width: 400px;

}
#navbar .nav-box{
    float: left;
    margin-left: 200px;
}
#navbar .nav-box li{
    float: left;
    width: 60px;
    height: 60px;
    text-align: center;
}
#navbar .nav-box li.nav-active{
    background: #0195BB;
}
#navbar .nav-box>li>a{
    color: #fff;
}
.nav-list{
    position: relative;
    width: 100%;
    line-height: 60px;
}
.nav-list .nl-box{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #333;
    text-align: right;
}

.nav-list .nl-box a{
    color: #fff;
    margin-left: 50px;
}
.nav-list .nl-box a:hover{
    color: #00A2CA;
}
/*----------end of navbar------------------------------*/
#container{
    margin-top: -60px;
}
/*--------------------------end of #container----------------------------------------*/
#wrapper{
    background: #fff;
    clear: both;
}
.wr-li{
    float:left;
    margin-right: 50px;
    margin-top: 10px;
}
.wr-ul .wr-li h3{
    font-weight: normal;
}
.wr-ul .wr-li>a,.wr-ul .wr-li>span{
    display: block;
    color: #39B6DC;
    margin-top: 5px;
}
.wr-ul .wr-li>a:hover{
    text-decoration: underline;
}
.wr-bq{
    width: 100%;
    border-top: 1px solid #EEE;
    margin-top: 20px;
    padding: 20px 0;
    background: #fff;
    text-align: center;
    font-size: 12px;
}
.app-box{
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 15px;
    width: 100%;
    height: 90px;
    color: #fff;
    background: rgba(51,51,51,0.8);
}
.app-ul .wr-li span{
    display: block;
}
a.app-btn{
    display: block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
a.app-a{
    background: #37B5F9;
}
a.app-b{
    background: #F26D7E;
}
i.close{
    display: block;
    float: right;
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
}