*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 12px;
    font-family: tahoma,arial,"Hiragino Sans GB",宋体,sans-serif;
    line-height: 1.4;
    background-color: #888;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
header{
    width: 100%;
    background-color: #F5F5F5;
    border:1px solid rgba(192,192,192,0.5);
}
div.container{
    width: 1000px;
    margin: 0 auto;
    line-height: 30px;
}
div.cr-left{
    display: inline-block;
}
div.cr-left a.cr-login{
    color: rgba(255,84,0,0.5);
}
div.cr-left a.cr-login2{
    margin-left: 3px;
    margin-right: 10px;
}
div.cr-left a:hover,ul.cr-right li>a:hover{
    color: rgba(255,84,0,0.5);
}
ul.cr-right{
    float: right;
}
ul.cr-right>li{
    position: relative;
    float: left;
    padding: 0 5px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
ul.cr-right>li,ul.cr-right>li a{
        color: #666;
}
ul.cr-right>li:after{
    content: '';
    clear: both;
}
ul.cr-right>li>i{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border: 5px solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
ul.cr-right>li:hover i{
    transform: rotate(180deg);
    transform-origin: 50% 30%;
    transition: all 0.2s;
}
ul.cr-right>li div.myBox{
    position: absolute;
    display: none;
    width: 110%;
    top: 30px;
    left: 0;
    padding: 10px 0;
    z-index: 999;
    background-color: #fff;
    border-left: 1px solid rgba(192,192,192,0.5);
    border-right: 1px solid rgba(192,192,192,0.5);
}
ul.cr-right div.myBox>a{
    display: block;
    padding-left: 2px;
}
ul.cr-right>li:hover{
    background-color: #fff;
    border-color: rgba(192,192,192,0.5);
}
ul.cr-right>li:hover div.myBox{
    display: block;
}
ul.cr-right li.no-hover,ul.cr-right li.no-hover:hover{
    border: none;
    background-color:#F5F5F5;
}
div.myBox>a:hover{
    background: #F5F5F5;
}
ul.cr-right>li ul.myNav{
    position: absolute;
    right: 0;
    top: 30px;
    display: none;
    width: 1000px;
    padding: 10px 0;
    z-index: 999;
    background: #fff;
    border-left: 1px solid rgba(192,192,192,0.5);
    border-right: 1px solid rgba(192,192,192,0.5);
    border-bottom: 1px solid rgba(192,192,192,0.5);
}
ul.cr-right>li:hover>ul.myNav{
    display: block;
}
ul.myNav li{
    height: 270px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    padding-right: 20px;
}
ul.myNav li nav{
    width: auto;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
ul.myNav li:not(:last-child){
    border-right: 1px solid rgba(192,192,192,0.5);
}
ul.myNav li nav>a{
    display: block;
    padding:0 6px;
    margin-top: 2px;
    border-radius: 3px;
}
ul.myNav li h3{
    font-family: tahoma,arial,"Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
    font-size: 16px;
    cursor: default;
}
ul.myNav li.theme h3{
    color: #FF4200;
}
ul.myNav li.shopping h3{
    color: #3AE2CE;
}
ul.myNav li.hot h3{
    color: #FF00AE;
}
ul.myNav li.more h3{
    color: #41D3FF;
}
ul.myNav li a:hover{
    color: #fff;
}
ul.myNav li.theme a:hover{
    background-color: #FF4200;
}
ul.myNav li.shopping a:hover{
background-color: #3AE2CE;
}
ul.myNav li.hot a:hover{
    background-color: #FF00AE;
}
ul.myNav li.more a:hover{
    background-color: #41D3FF;
}
/*------------------end of header------------------------*/
div.search-container{
    position: relative;
    width: 600px;
    margin: 30px auto;
}
ul.choose{
        display: block;
}
ul.choose li{
    padding:5px 10px;
    text-align: center;
    float: left;
    cursor: pointer;
    color: rgba(0,0,0,0.6);
}
ul.choose li:hover{
    background-color: rgba(192,192,192,0.5);
}
ul.choose li.tb-ho:hover{
    color: #FF5400;
}
ul.choose li:after{
    content: '';
    clear: both;
}
ul.choose li.color{
    background-color: #FF5400;
    color: #fff;
}
ul.choose li.tm-color{
    background-color: #C40000;
    color: #fff;
}
form.search-box{
    position: relative;
    width: 600px;
    border: 3px solid #FF5400;
    overflow: hidden;
}
form.search-box input.input-search{
    padding:8px;
    width: 580px;
    border-width: 0;
}
form.search-box button.btn-search{
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    text-align: center;
    border-width: 0;
    background-color: #FF5400;
    color: #fff;
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    letter-spacing: 3px;
}
div.search-container nav{
    position: absolute;
    top: 73px;
}
div.search-container nav.tianmao{
    display: none;
}
div.search-container nav>a{
    padding: 3px;
    color: rgba(0,0,0,0.6);
}
div.search-container nav.taobao>a.more,a.more{
    border: 1px solid rgba(192,192,192,0.5);
}
div.search-container nav.taobao>a.more:hover,ul.warp-show li.theme>a.more:hover{
    background-color:#ff5400;
    border-color: #ff5400;
    color: #fff;
}
div.search-container nav a:hover{
    color: #ff5400;
}
/*------------------end of search----------------------------------*/

div.warpper{
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
div.warpper div.warp-left{
    width: 200px;
    border: 1px solid #ff5400;
    background-color: #fff;
}
div.warp-left h2{
    color: #fff;
    text-indent: 10px;
    background-color: #FF4400;
}
div.warp-left h3{
    color: #000;
    text-indent: 30px;
    margin-bottom: 3px;
}
div.warp-left ul.warp-theme>li{
    position: relative;
    border: 2px solid transparent;
    border-right: none;
    z-index: 10;
    padding: 3px 7px;
}
div.warp-left ul.warp-theme>li>a{
    padding-right: 10px;
}
div.warp-menu{
    position: absolute;
    width: 700px;
    z-index: 5;
    display: none;
    left: 198px;
    padding: 20px;
    border: 2px solid #FF4400;
    background: #fff;
}
div.warp-po1{
    top: -28px;
}
div.warp-po2{
    top: -54px;
}
div.warp-po3{
    top: -81px;
}
div.warp-po4{
    top: -108px;
}
div.warp-po5{
    top: -135px;
}
div.warp-po6{
    top: -162px;
}
div.xxx{
    position: absolute;
    display: none;
    width: 2px;
    height: 22px;
    z-index: 190;
    left: 198px;
    top: 0;
    background: #fff;
}
div.warp-left ul.warp-theme>li:hover,div.warp-left ul.warp-theme>li:hover div.warp-menu
,ul.warp-theme>li:hover div.xxx{
    border-color: #FF4400;
    display: block;
    transition:all 0.2s;
}
div.warp-left>nav{
    padding: 0 7px;
    margin-top: 15px;
}
div.warp-left>nav>a{
    width: 58px;
    display: inline-block;
    margin-top: 5px;
}
div.warp-left nav.warp-login{
    width: 88%;
    margin: 20px auto;
    padding: 6px 0;
    border-top: 1px solid rgba(192,192,192,0.5);
}
div.warp-left nav.warp-login>a{
    width: 56px;
}
div.warp-left a:hover{
    color: #ff5400;
}
div.warp-menu ul.warp-show{
    position: relative;
    width: 240px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}
div.warp-menu ul.warp-show li.theme{
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(192,192,192,0.5);
}
div.warp-menu ul.warp-show li.more-menu a{
    margin-right: 7px;
    margin-top: 3px;
    display: inline-block;
}
ul.warp-show li.theme a.ws-title{
    font-size: 20px;
    color: rgba(192,192,192,0.5);
}
ul.warp-show li.theme a.ws-title:hover{
    color: rgba(192,192,192,0.5)；
}
ul.warp-show li.theme a.more{
    float: right;
    margin-top: 7px;
}
ul.warp-show li.theme a.more::after{
    content: ' ';
    clear: both;
    box-sizing: content-box;
}
div.warp-menu div.image{
    position: absolute;
    width: 160px;
    height: 80%;
    padding: 20px;
    right: 0;
    top: 20px;
    border-left: 1px dashed rgba(192,192,192,0.5);
}
/*-------end of------warp-left-----------------------------------*/

div.warpper div.warp-right{
    position: absolute;
    right: 0;
    top: 0;
    width: 790px;
    margin-left: 10px;
    margin-top: 10px;
}
div.warp-right nav.show{
    width: 100%;
    border-bottom: 3px solid #FF5400;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
}
div.warp-right nav.show>a{
    color: #FF5400;
}
div.warp-right nav.hidden{
    display: inline-block;
    padding-left: 10px;
    margin-left: 7px;
    border-left: 1px solid #000;
}
div.warp-right nav.show a{
    padding: 2px;
}
div.warp-right nav.show a:hover{
    color: #FF5400;
    background-color: rgba(192,192,192,0.5);
}
@media screen and (max-width : 1200px){
    div.warp-right nav.hidden{
        display: none;
    }
}

div.two-animate{
    position: relative;
}
div.two-animate div.first{
    position: relative;
    width: 490px;
    height: 270px;
    overflow: hidden;
}
div.first ul.two-do{
    position: absolute;
    left: 0;
    top: 0;
    width: 2450px;
    height: 270px;
    background-image: url(../img/4.jpg);
}
div.first ul.two-do li{
    width: 490px;
    height: 270px;
    float: left;
    background: #fff;
}
div.first ul.two-do li img{
    width: 490px;
    height: 270px;
}
div.circle{
    position: absolute;
    width: 100px;
    height: 10px;
    bottom: 13px;
    left: 230px;
    z-index: 5;
}
div.circle i{
    display: block;
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888;
    margin: 0 5px;
}
div.circle i.icolor{
    background-color: #FF5400;
}
