*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.clearfix::after{
    clear: both;
    content: ' ';
    display: table;
}
div.auto{
    width: 1000px;
    margin: 0 auto;
}
body{
    font-size: 14px;
    line-height: 1.8;
    font-family: '微软雅黑','宋体',sans-serif;
    background: #fbfaf8;
}
#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #018FB5;
    font-size: 12px;
    padding: 4px 0;
    z-index: 99;
}
ul.wrap{
    width: auto;
    float: right;
}
#header ul.wrap>li,.lf{
    float: left;
    margin-right: 12px;
}
#header ul.wrap>li:not(:last-of-type)::after{
    content: '|';
    color: #fff;
    cursor: default;
    margin-left: 5px;
}
#header div.auto a{
    color: #fff;
}
#header div.auto ul.wrap li>a:hover{
    color: #CA6E0C;
}
.download{
    position: relative;
    width: 112px;
    height: 29px;
    z-index: 99;
}
.download>a.dd-box{
    display: inline-block;
    width: 98px;
    height: 33px;
    text-align: center;
}
.download a.dd-box i.cir{
    display: inline-block;
    border: 5px solid #fff;
    vertical-align: middle;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.download div.app-download{
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    width: 180px;
    padding: 20px;
    background: #fff;
}
.app-store{
    float: right;
}
.app-store>a,a.pc{
    display: block;
    width: 90px;
    margin-top: 10px;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
}
a.app-pic{
    width: 80px;
}
a.apple{
    background: #000;
}
a.xiazai{
    background: #CA6E0C;
}
a.anzhuo{
    background: #04CA39;
}
.mn{
    margin: 0 auto;
}
#header div.auto ul.wrap li.download:hover>a{
    color: #000;
    background: #fff;
}
li.download:hover>a i.cir{
    border-top-color: #000;
    transform: rotate(180deg);
    transform-origin: 50% 30%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
li.download:hover div.app-download{
    display: block;
    z-index: 99;
}
/*------------------- end of header--------------------------------------------*/
nav#navbar{
    position: relative;
    width: 100%;
    margin-top: 37px;
    background: #00A2CA;
    height: 60px;
    line-height: 60px;
}
#navbar div.easy-logo{
    float: left;
    width: 400px;

}
#navbar ul.nav-box{
    float: left;
    margin-left: 200px;
}
#navbar ul.nav-box li{
    float: left;
    width: 60px;
    height: 60px;
    text-align: center;
}
#navbar ul.nav-box li.nav-active{
    background: #0195BB;
}
#navbar ul.nav-box>li>a{
    color: #fff;
}
div.nav-list{
    position: relative;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
div.nav-list div.nl-box{
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    background: #333;
    text-align: right;
}
div.nav-list div.nl-txt>a:last-of-type{
margin-right: 203px;
}
div.nav-list div.nl-box>a{
    color: #fff;
    margin-left: 50px;
}
div.nav-list div.nl-box>a:hover{
    color: #00A2CA;
}
/*----------end of navbar------------------------------*/
#container{
    margin-top: -60px;
}
#lunbo{
    clear: both;
    position: relative;
    width: 100%;
    height: 600px;
    color: #fff;
    text-align: center;
    overflow: hidden;

}
#lunbo ul.lunbo-box{
    position: relative;
    width: 4000px;
    height: 600px;
}
#lunbo ul.lunbo-box li.lbox{
    float: left;
    width: 1000px;
    height: 600px;
}
#lunbo div.btn-box{
    position: absolute;
    left: 0;
    top: 300px;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    z-index: 99;
}
#lunbo div.btn-box i.cm-btn{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: rgba(51,51,51,0.9);
    text-align: center;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
#lunbo div.btn-box i.lf-btn{
    left: 10px;
}
#lunbo div.btn-box i.rt-btn{
    right: 10px;
}
#lunbo div.cir-box{
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 0;
    margin: auto;
    width: 200px;
    height: 30px;
}
div.cir-box i.cir-btn{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: rgba(51,51,51,0.8);
}
div.cir-box i.cir-color{
    background: orangered;
}
.lb-one{
    background: #0A85C0;
}
.lb-two{
    background: #34B792;
}
.lb-three{
    background: #446077;
}
.lb-four{
    background: #3E8873;
}
/*---------end of lunbo--------------*/
#content{
    margin-top: 50px;
}

ul.banner li.br-data{
    width: 331px;
    height: 220px;
    float: left;
    text-align: center;
    border: 1px solid #eee;
    background: #fff;
    padding: 20px 0;
}
ul.banner .br-data:not(:last-of-type){
    border-right-color: transparent;
}
ul.banner .br-data:not(:first-of-type){
    border-left-style: dashed;
}
ul.banner li.br-data>h3{
    font-weight: normal;
}
ul.banner li.br-data:hover{
    border: 1px solid #0195BB;
}
li.br-data>img{
    width: 70px;
    height: 70px;
    display: block;
}
li.br-data p.br-sum{
    font-size: 12px;
}
li.br-data p.br-sum span{
    color: red;
}
li.br-data p.br-sum a.br-enter{
    margin: 15px auto;
    border-radius: 5px;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: #6FB0D1;
}
li.br-data p.br-sum a.br-enter:hover{
    background: #0A85C0;
}
/*---------------end of banner-----------------------*/
#content{
    position: relative;
    overflow: hidden;
}
ul.wrap-box{
    margin-top: 50px;
    width: 1000px;
}
div#news-box{
    margin-top: 50px;
    width: 1020px;
}
li.details{
    height: 160px;
    background: #fff;
    padding: 10px;
    border: 1px solid #EEE;
    padding-right: 20px;
    float: left;
    margin-right: 17px;
}
li.details-rt{
    float: right !important;
    margin-right: 0 !important;
}
li.details-big{
    width: 350px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
li.details-sm{
    width: 260px;
}
 h3.h-title{
    font-weight: normal;
    display: inline-block;
}
a.more{
    float: right;
    font-size: 12px;
    color: #666;
}
a.more:hover,a.newsa:hover{
    text-decoration: underline;
    color: #C2B6C9;
}
p.de-txt{
    font-size: 12px;
}
li.details-big p.de-txt{
    width: 79%;
}
li.details-big p.de-txt span.de-show{
    display: none;
}
li.details-sm p.de-txt span.de-hide{
    display: none;
}
img.de-pic{
    float: right;
    width: 50px;
    height: 50px;
}
li.details-big img.de-pic{
    margin-top: -50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


div.news{
    width: 452px;
    height: 200px;
    padding: 12px 20px;
    background: #fff;
    border: 1px solid #eee;
}
div.news ul.news-now{
    clear: both;
    margin-top: 30px;
}
div.news ul.news-now li{
    margin-top: 10px;
}
div.news ul.news-now li::before{
    content: '【新闻】';
    color: #C2B6C9;
}
.rt{
    float: right;
}
a.newsa,ul.news-now li time{
    color: #666;
}
ul.hezuo{
    margin-top: 10px;
}
li.hz-li{
    float: left;
    width: 146px;
    font-size: 12px;
}
li.hz-li figure{
    text-align: center;
}
li.hz-li figure img.hz-pic,
figure.zz-dx .zz-pic,
.easy-pic{
    width: 50px;
    height: 50px;
}
div.zizhi{
    width: 998px;
    margin-top: 50px;
    border: 1px solid #eee;
    background: #fff;
}
div.zizhi>h3{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    text-indent: 50px;
    border-bottom: 1px solid #eee;
}
div.zz-box{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
figure.zz-dx{
    float: left;
    margin-left: 30px;
}
figure.zz-dx .zz-pic{
    vertical-align: middle;
    padding: 3px;
    margin-right: 5px;
    border: 1px solid #eee;
}
/*   -------        end of content-------------*/
div.easy{
    width: 100%;
    height: 150px;
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid #EEE;
    border-bottom: 1px solid #EEE;
    background: #fff;
    text-align: center;
}
#wrapper{
    background: #fff;
}
li.wr-li{
    float:left;
    margin-right: 50px;
    margin-top: 10px;
}
ul.wr-ul li.wr-li h3{
    font-weight: normal;
}
ul.wr-ul li.wr-li>a,ul.wr-ul li.wr-li>span{
    display: block;
    color: #39B6DC;
    margin-top: 5px;
}
ul.wr-ul li.wr-li>a:hover{
    text-decoration: underline;
}
div.wr-bq{
    width: 100%;
    border-top: 1px solid #EEE;
    margin-top: 20px;
    padding: 20px 0;
    background: #fff;
    text-align: center;
    font-size: 12px;
}
div.app-box{
    position: fixed;
    left: 0;
    bottom: 0;
    padding-bottom: 15px;
    width: 100%;
    height: 90px;
    color: #fff;
    background: rgba(51,51,51,0.8);
}
ul.app-ul li.wr-li span{
    display: block;
}
a.app-btn{
    display: block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}
a.app-a{
    background: #37B5F9;
}
a.app-b{
    background: #F26D7E;
}
i.close{
    display: block;
    float: right;
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
}