#lunbo{
    clear: both;
    position: relative;
    width: 100%;
    height: 600px;
    color: #fff;
    text-align: center;
    overflow: hidden;

}
.lunbo-box{
    position: relative;
    width: 4000px;
    height: 600px;
}
.lunbo-box li.lbox{
    float: left;
    width: 1000px;
    height: 600px;
}
#lunbo .btn-box{
    position: absolute;
    left: 0;
    top: 300px;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    z-index: 99;
}
#lunbo h1{
    font-size: 26px;
}
#lunbo h3{
    font-size: 22px;
}
#lunbo .btn-box i.cm-btn{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: rgba(51,51,51,0.9);
    text-align: center;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
    user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}
#lunbo .btn-box i.lf-btn{
    left: 10px;
}
#lunbo .btn-box i.rt-btn{
    right: 10px;
}
#lunbo .cir-box{
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 0;
    margin: auto;
    width: 200px;
    height: 30px;
}
.cir-box i.cir-btn{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}
.cir-box i.cir-color{
    background: #fff;
}
.lb-one{
    background: #0A85C0;
}
.lb-two{
    background: #34B792;
}
.lb-three{
    background: #446077;
}
.lb-four{
    background: #3E8873;
}
/*---------end of lunbo--------------*/
#content{
    margin-top: 50px;
}

.banner li.br-data{
    width: 331px;
    height: 220px;
    float: left;
    text-align: center;
    border: 1px solid #eee;
    background: #fff;
    padding: 20px 0;
}
.banner .br-data:not(:last-of-type){
    border-right-color: transparent;
}
.banner .br-data:not(:first-of-type){
    border-left-style: dashed;
}
.banner .br-data>h3{
    font-weight: normal;
}
.banner .br-data:hover{
    border: 1px solid #0195BB;
}
.br-data>img{
    width: 70px;
    height: 70px;
    display: block;
}
.br-data .br-sum{
    font-size: 12px;
}
.br-data .br-sum span{
    color: red;
}
.br-data .br-sum a.br-enter{
    margin: 15px auto;
    border-radius: 5px;
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    background: #6FB0D1;
}
.br-data .br-sum a.br-enter:hover{
    background: #0A85C0;
}
/*---------------end of banner-----------------------*/
#content{
    position: relative;
    overflow: hidden;
}
.wrap-box{
    margin-top: 50px;
    width: 1000px;
}
#news-box{
    margin-top: 50px;
    width: 1020px;
}
.details{
    height: 160px;
    background: #fff;
    padding: 10px;
    border: 1px solid #EEE;
    padding-right: 20px;
    float: left;
    margin-right: 17px;
}
.details-rt{
    float: right;
    margin-right: 0;
}
.details-big{
    width: 350px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.details-sm{
    width: 260px;
}
 .h-title{
    font-weight: normal;
    display: inline-block;
}
a.more{
    float: right;
    font-size: 12px;
    color: #666;
}
a.more:hover,a.newsa:hover{
    text-decoration: underline;
    color: #C2B6C9;
}
.de-txt{
    font-size: 12px;
}
.details-big .de-txt{
    width: 79%;
}
.details-big .de-txt .de-show{
    display: none;
}
.details-sm .de-txt .de-hide{
    display: none;
}
img.de-pic{
    float: right;
    width: 50px;
    height: 50px;
}
.details-big img.de-pic{
    margin-top: -50px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


.news{
    width: 452px;
    height: 200px;
    padding: 12px 20px;
    background: #fff;
    border: 1px solid #eee;
}
.news-now{
    clear: both;
    margin-top: 30px;
}
.news-now li{
    margin-top: 10px;
}
.news-now li::before{
    content: '【新闻】';
    color: #C2B6C9;
}
.rt{
    float: right;
}
a.newsa,.news-now li time{
    color: #666;
}
.hezuo{
    margin-top: 10px;
}
.hz-li{
    float: left;
    width: 146px;
    font-size: 12px;
}
.hz-li figure{
    text-align: center;
}
.hz-li figure .hz-pic,
.zz-dx .zz-pic,
.easy-pic{
    width: 50px;
    height: 50px;
}
.zizhi{
    width: 998px;
    margin-top: 50px;
    border: 1px solid #eee;
    background: #fff;
}
.zizhi>h3{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    text-indent: 50px;
    border-bottom: 1px solid #eee;
}
.zz-box{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.zz-dx{
    float: left;
    margin-left: 18px;
}
.zz-dx .zz-pic{
    vertical-align: middle;
    padding: 3px;
    margin-right: 5px;
    border: 1px solid #eee;
}
/*   -------        end of content-------------*/
.easy{
    width: 100%;
    height: 150px;
    margin-top: 70px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid #EEE;
    border-bottom: 1px solid #EEE;
    background: #fff;
    text-align: center;
}