body {
  background: #666;
}

form {
  background-color: #eee;
  width: 700px;
  height: 500px;
  padding: 20px;
  margin: 20% auto;
  height: 500px;
  font-size: 14px;
  box-shadow: 0 0 3px #fff;
}

form h3 {
  border-bottom: 1px solid #666;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
  padding: 6px 1px;
}

form h3:before {
  content: '';
  border-left: 5px solid #59afe4;
  padding-right: 20px;
}

.box {
  margin-top: 20px;
}

.lb-lf {
  display: inline-block;
  margin-right: 20px;
  text-align: right;
  width: 153px;
  color: #000;
}

.txt {
  width: 228px;
  border: 1px solid transparent;
  padding: 6px 10px;
}

.txt:focus {
  border-color: #59afe4;
}

input[type='radio'] {
  margin-left: 20px;
  margin-right: 5px;
}

.yes,
.btn {
  margin-left: 176px;
}

.btn {
  background-color: green;
  border-width: 0;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  padding: 5px 76px;
  text-align: center;
}

span {
  font-size: 12px;
  color: red;
}